@model BMS.Models.User

@{
    ViewData["Title"] = "Registration";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

@if (!string.IsNullOrWhiteSpace(@successMessage))
{
    <div class="alert alert-success" style="margin: 20px;">
        <strong>Success! </strong>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(@errorMessage))
{
    <div class="alert alert-danger" style="margin: 20px;">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}

<div class="container" style="padding-top: 20px; background-color:gray">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow" style="border: none;">
                <div class="card-body" style="padding: 30px;">
                    <h2 class="card-title text-center" style="color: #007bff; font-size: 24px; text-align: center;">Registration</h2>
                    <hr>
                    <form asp-action="Create" method="post" class="needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" style="margin-bottom: 10px;">
                            <label asp-for="UserName" class="control-label" style="font-weight: bold;">Username:<span class="text-danger">*</span></label>
                            <input type="text" asp-for="UserName" class="form-control" required style="border-radius: 10px;">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                            <div class="invalid-feedback" style="margin-top: 5px;">Please enter a username.</div>
                        </div>
                        <div class="form-group" style="margin-bottom: 10px;">
                            <label asp-for="Email" class="control-label" style="font-weight: bold;">Email:<span class="text-danger">*</span></label>
                            <input asp-for="Email" class="form-control" required style="border-radius: 10px;">
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <div class="invalid-feedback" style="margin-top: 5px;">Please enter a valid email address.</div>
                        </div>
                        <div class="form-group" style="margin-bottom: 10px;">
                            <label asp-for="Password" class="control-label" style="font-weight: bold;">Password:<span class="text-danger">*</span></label>
                            <input asp-for="Password" class="form-control" type="password" required style="border-radius: 10px;">
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <div class="invalid-feedback" style="margin-top: 5px;">Please enter a password.</div>
                        </div>
                        <br />
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-outline-success" style="background-color: #28a745; color: #fff; border: 1px solid #28a745; border-radius: 10px; padding: 10px 20px;">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <input type="button" class="btn btn-block btn-link mb-2" value="Back" onclick="history.back()" style="color: #007bff; text-decoration: none;">
            <a asp-action="Login" class="btn btn-link" style="color: #007bff; text-decoration: none;">Already Have Account</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
