@{
    ViewData["Title"] = "Admin Page";
}
<form action="ViewPostForAdmin" method="post">
    <div class="form-group text-center">
        <button type="submit" class="btn btn-outline-success">Show all blogs</button>
    </div>
</form>&nbsp;
<form action="ViewAllUser" method="post">
    <div class="form-group text-center">
        <button type="submit" class="btn btn-outline-success">Show all users</button>
    </div>
</form>
<br />
<div class="text-center">
    <input type="button" class="btn btn-block btn-outline-warning mb-2" value="Back" onclick="history.back()" />
</div>